.video
    padding: 145px 0
    background-color: $orange
    background-image: url('../img/video_background.svg')
    background-position: center calc( 100% - 25px )
    background-repeat: repeat-x
    overflow: hidden
    @include mediaLaptop
        background-size: 105% auto
    @include mediaLargeTablet
        padding-top: 60px
    @include mediaTablet
        padding-top: 40px
        padding-bottom: 90px
        background-size: 100% auto
    @include mediaMobile
        padding-bottom: 70px
    
    .wrapper
        position: relative
        @include mediaLaptop
            padding: 0 20px
            display: flex
            justify-content: center
    &__background_1
        position: absolute
        bottom: 5%
        left: -140px
        @include mediaLaptop
            left: 0
        @include mediaMobile
            transform: scale(0.7)

    &__background_2
        position: absolute
        bottom: 5%
        right: -140px
        @include mediaLaptop
            right: 0
        @include mediaMobile
            transform: scale(0.7)
    &__block
        display: block
        position: relative
        // width: 1200px
        max-width: 100%
        height: 600px
        background-image: url('../video/poster.png')
        background-size: cover
        background-position: center
        @include mediaLaptop
            width: 90%
        @include mediaTablet
            width: 95%
            height: 400px
        @include mediaMobile
            height: 250px
    &__play
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        @include mediaMobile
            transform: translate(-50%, -50%) scale(0.5)