.video
    padding: 145px 0
    background-color: $orange
    background-image: url('../img/video_background.svg')
    background-position: center calc( 100% - 25px )
    background-repeat: repeat-x
    .wrapper
        position: relative
    &__background_1
        position: absolute
        bottom: 5%
        left: -140px
    &__background_2
        position: absolute
        bottom: 5%
        right: -140px
    &__block
        display: block
        position: relative
        width: 1200px
        height: 600px
        background-image: url('../video/poster.png')
        background-size: cover
    &__play
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)