@font-face
	font-family: 'DaysSansBlack'
	src: url('fonts/dayssansblack.eot')
	src: url('fonts/dayssansblack.eot?#iefix') format('embedded-opentype'), url('fonts/dayssansblack.woff2') format('woff2'), url('fonts/dayssansblack.woff') format('woff'), url('fonts/dayssansblack.ttf') format('truetype'), url('fonts/dayssansblack.svg#dayssansblack') format('svg')
    font-weight: normal
    font-style: normal