@mixin font-styles($font-size, $font-weight, $color)
    font-size: $font-size
    font-weight: $font-weight
    color: $color

@mixin transition
    transition: all 0.2s ease-out

@mixin animantion($name)
        animation-name: $name
        animation-duration: 3s
        animation-timing-function: ease
