// Fonts
$font-main: "DaysSansBlack", sans-serif

// Colors
$orange: #EC6F16
$green: #3C5C26
$green-border: #8D943A
$lightgreen-border: #7C8B3E
$white: #ffffff
$background-brown: #CFD09E
$red: #DA3815
$light-green: #478031